spring:
  datasource:
    url: jdbc:mysql://localhost:3306/bitezza_db?createDatabaseIfNotExist=true
    username: root
    password: 12345678

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true